.markFull .getResult {border:1px solid #f1ac65;background-color:#fff8e5;border-radius:8px;max-width:500px;padding:5px}
.markFull .getResultBorder {border:1px solid #f1ac65;border-radius:8px;padding:10px}
.markFull .grb_mgs {padding:8px;color:#000;font-size:12px;max-height:400px;overflow:hidden auto}
.markFull .e_goodImgs {width:20px;height:20px}
